fastapi
flask
gunicorn
uvicorn
jinja2
pytz
python-dotenv
requests
sqlalchemy
psycopg2-binary
python-multipart
geopy
geonamescache
timezonefinder
pyswisseph
openai
google-genai
google-api-python-client
weasyprint
celery
redis
pypdf
