fastapi
flask
gunicorn
uvicorn
jinja2
pytz
python-dotenv
requests
sqlalchemy
python-multipart
geopy
geonamescache
timezonefinder
pyswisseph
openai
google-generativeai
google-api-python-client
weasyprint